.img-comp-aboutUs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutUs-page h1 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 32px;
}

.aboutUs-page h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 26px;
}

.img-comp-aboutUs {
  margin: 20px;
  justify-self: center;
}
.return-home {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.returnHome {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .aboutUs-page h1 {
    font-size: 24px;
  }
  .aboutUs-page h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  .img-comp-aboutUs {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .aboutUs-page h1 {
    font-size: 20px;
  }
  .aboutUs-page h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  .img-comp-aboutUs {
    margin: 5px;
  }
}
